@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/*  navbar   inicio*/
.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  z-index: 999;
  transition: all 0.3s ease;
}
.navbar.sticky {
  background: #0c0c0c;
  padding: 15px 0;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 500;
}
.navbar .logo a span {
  color: #71d96a;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
  color: #fff;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: #71d96a;
}
.navbar.sticky .menu li a:hover {
  color: #fff;
}
/*  Home   inicio  */
.home {
  display: flex;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url(../img/tio1.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/tio1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  color: rgb(136, 205, 230);
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 500;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: #71d96a;
  font-weight: 500;
}
.home .home-content a {
  display: inline-block;
  color: #71d96a;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #71d96a;
}
.home .home-content a:hover {
  color: #71d96a;
  background: none;
}

/*  Menu  Mobile  */
.menu-btn {
  color: #fff;
  font-size: 26px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn {
  position: fixed;
  width: 41px;
  height: 45px;
  right: 30px;
  bottom: 30px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background: #71d96a;
  border-radius: 6px;
  font-size: 30px;
  z-index: 9999;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

/*  todos os codigos similares  */
section {
  padding: 100px 0;
}
section .title {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  position: relative;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  background: #fff;
  color: #71d96a;
  padding: 5px;
  transform: translateX(-50%);
}
.about,
.services,
.skills,
.teams,
.certificados .contact,
footer {
  font-family: "Roboto", sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/*  sessão sobre  */

.item {
  display: flex;
  left: auto;
  border: 2px solid #adb2b9;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 111px -47px rgba(242, 234, 242, 0.47);
  -moz-box-shadow: 10px 10px 111px -47px rgba(242, 234, 242, 0.47);
  box-shadow: 10px 10px 111px -47px rgba(242, 234, 242, 0.47);
}

/* .ilustracaodomeurosto{
    border: 5px solid #adb2b9;
} */

.about {
  text-align: center;

  /*background: url(../img/fundo.jpg) no-repeat;
    background-size: cover; */
}

.about h2 {
  font-size: 25px;
  padding: 0.5rem;
  display: inline-block;
  color: #fff;
  border-bottom: 0.3rem solid yellowgreen;
  margin-bottom: 1.8rem;
}

.about .about-content .left {
  width: 35%;
}
.about .about-content .right {
  width: 55%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about .about-content .right .text span {
  color: #71d96a;
}
.about .about-content .right p {
  text-align: justify;
}
.about .about-content .right .contato {
  display: inline-block;
  background: #00804b;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: px;
  border-radius: 6px;
  border: 2px solid #00804b;
  transition: all 0.3s ease;
}
.about .about-content .right .contato:hover {
  color: #00804b;
  background: none;
}
.about .about-content .left img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  display: flex;
}
.items-3 {
  background-color: #fff;
}
.sm a{
  display: inline;
  width: 100px;
  height: 100px;
  line-height: 120px;
  margin: 0 20px;
  text-align: center;
  color: #6ab04c;
  position: relative;
}

/*  ... */
.about,
.teams,
.services,
.contact {
  background: rgb(17, 17, 17);
  color: #fff;
}

.title::after,
.about .title::after,
.contact .title::after,
.teams .title::after {
  background: #111;
}

/* Sessão Services */
.services {
  min-height: 100vh;
  text-align: center;
  padding: 2% 6%;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url(../img/fundo1.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/fundo1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

.services h1 {
  font-size: 25px;
  padding: 0.5rem;
  display: inline-block;
  color: #fff;
  border-bottom: 0.3rem solid #fff;
  margin-bottom: 1.8rem;
}

.services .container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.services .container .box {
  width: 20rem;
  height: 20rem;
  margin: 0.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #09090a;
  -webkit-box-shadow: -1px -1px 114px 47px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: -1px -1px 114px 47px rgba(0, 0, 0, 0.72);
  box-shadow: -1px -1px 114px 47px rgba(0, 0, 0, 0.72);
}

.services .container .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services .container .box .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: bottom;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.services .container .box:hover .info {
  transform: translate(-50%, -50%) scale(1);
}
.services .container .box .info h3 {
  font-size: 3rem;
  color: yellowgreen;
  margin-bottom: 1.2rem;
}

.services .container .box .info p {
  line-height: 2;
  color: #fff;
  font-size: 1.1rem;
  padding: 0 1rem;
  margin-bottom: 1;
}

/* sessãp banner */

.banner {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url(../img/banner-bg.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

.banner span {
  font-size: 2rem;
  color: #f00;
}

.banner h3 {
  padding-top: 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 3.5rem;
}

.banner p {
  margin: 1rem auto;
  max-width: 60rem;
  font-size: 1.5rem;
  color: #aaa;
  line-height: 2;
}

/*  sessão Contato  */

.contact .contact-content .column {
  width: calc(50% - 30px);
}
.contact .contact-content {
  align-items: flex-start;
}
.contact .contact-content .left p {
  text-align: justify;
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 30px;
}
.contact .contact-content .row .info .head {
  font-weight: 500;
}
.contact .contact-content .row .info .sub-title {
  color: #333;
}
.contact .contact-content .row ion-icon {
  font-size: 25px;
  color: #71d96a;
}
.contact .rigth form .fields {
  display: flex;
}
.contact .rigth form .field,
.contact .rigth form .fields .field {
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
}
.contact .rigth form .field input,
.contact .rigth form .textarea textarea {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
}
.contact .rigth form .name {
  margin-right: 10px;
}
.contact .rigth form .email {
  margin-left: 10px;
}
.contact .rigth form .textarea {
  width: 100%;
  height: 80px;
}
.contact .rigth form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .rigth form .button {
  width: 170px;
  height: 47px;
}
.contact .rigth form .button button {
  width: 100%;
  height: 100%;
  border: 2px solid #71d96a;
  background: #00804b;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact .rigth form .button button:hover {
  color: #71d96a;
  background: none;
}

.contact {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url(../img/fundo.jpg) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/fundo.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*Sessão Redes sociais */
.flex{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.icon-3d{
  padding: 5px;
  -webkit-animation: icon3d 200ms 10;
  animation: icon3d 200ms 10;
  color: #fff;
  margin: 3px;
}

.icon-3d:hover {
  -webkit-animation: icon3d 200ms infinite;
  animation: icon3d 200ms infinite;
  cursor: pointer;
}

@keyframes icon3d{
  0%{
    text-shadow: 5px 4px rgba(244,67,54,1), -5px 4px rgba(33,150,243,1);
  }
   25% {
    text-shadow: -5px -6px rgba(244,67,54,1), 5px 4px  rgba(33,150,243,1);
  }
  50% {
    text-shadow: 5px -4px rgba(244,67,54,1), -8px 4px rgba(33,150,243,1);
  }
  75% {
    text-shadow: -8px -4px rgba(244,67,54,1), -5px -4px rgba(33,150,243,1);
  }
  100% {
    text-shadow: -5px 0 rgba(244,67,54,1), 5px -4px  rgba(33,150,243,1);
  }
}



/*  sessão footer  */
footer {
  background: #fff;
  padding: 5px 23px;
  color: #111;
  text-align: center;
}
footer span a {
  color: #00804b;
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}

/*  responsivo  */
@media (max-width: 1300px) {
  .navbar .max-width {
    margin-left: 0;
  }
}
@media (max-width: 1104px) {
  .about .about-content .left img {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 991px) {
  .navbar .max-width {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .max-width {
    max-width: 800px;
    padding: 0 50px;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .navbar .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: -100%;
    top: 0;
    background: #111;
    padding-top: 80px;
    text-align: center;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .about .about-content .column {
    width: 50%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
  footer {
    margin-top: 15px;
  }
}
@media (max-width: 690px) {
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
  }
  .services .serv-content .card {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
}
